<!DOCTYPE html>
<html>
<head>
	<% include ./head.ejs %>
</head>
<body>
	<% include ./navbar.ejs %><br>
  <div class="container">
    <h2>Log In </h2><br>
    <div>
    <form id="login">
    	<div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter User Name" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 40%"> Log In </button>
    </form>

    <br><br>
  </div>
</div>
<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form>
      <input type="text" name="user" placeholder="Username">
      <input type="password" name="pass" placeholder="Password">
      <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>
      
      <div class="login-help">
      <a href="#">Register</a> - <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
  </div>
</body>
</html>

